<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.czyx007.mapper.EmpMapper">
    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="eid">
        insert into person_info.emp(ename,esex,estartime) values (#{ename}, #{esex}, #{estartime})
    </insert>
    <select id="getAll" resultType="cn.czyx007.bean.Emp">
        select * from person_info.emp
    </select>
</mapper>